@model UdemyMVC.Identity.ApplicationUser

@{
    ViewBag.Title = "MyProfile";
}

<table class="table table-dark mt-4">
    <tr>
        <th>Username</th>
        <th>@Model.UserName</th>
    </tr>
    <tr>
        <th>Email</th>
        <th>@Model.Email</th>
    </tr>
    <tr>
        <th>Date of Birth</th>
        <th>@Model.Birthday</th>
    </tr>
    <tr>
        <th>City</th>
        <th>@Model.City</th>
    </tr>
    <tr>
        <th>Country</th>
        <th>@Model.Country</th>
    </tr>
</table>


<a href="/Home/Index" class="link-dark text-decoration-none">Back to home</a>